<section>
    <div class="row">
        <div class="container mt-5">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Sorry...{{user.Name}} Your Cart is empty Please Add Items to Your Cart</h1>
            </div>
        </div>
    </div>
</section>