.body-sec{
  background-color: #99bada;
}

.tableHead{
  background-color: #0275d8 ;
  color: #fff;
  text-align: center;
  ;
}

.table{
  
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.cartButton:hover{
  background-color: #28a745;
  border-color: #28a745;
}

